# 忽略 npm 安装的巨大依赖包文件夹（这是必须的）
node_modules/

# 忽略 npm 报错日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------------------------------
# 下面两行请根据你的需求选择是否添加：
# -------------------------------------------------

# 如果你认为 http-server 只是你个人的调试工具，
# 也不希望别人看到你的 package.json，则取消下面两行的注释：
package.json
package-lock.json